CLOUDAMQP_URL="amqp://guest:guest@172.16.238.210:5672/my_vhost"
TWITTER_CONSUMER_KEY = ''
TWITTER_CONSUMER_SECRET = ''
TWITTER_ACCESS_TOKEN = ''
TWITTER_ACCESS_TOKEN_SECRET = ''
TWITTER_LOCATION_ID = '1'